*.lo
*.la
*.pc
*.o
*~
Makefile
Makefile.in
compiler/cpp/thrift
compiler/cpp/thriftl.cc
compiler/cpp/thrifty.cc
compiler/cpp/thrifty.h
lib/cpp/concurrency_test
libtool
ltmain.sh
missing
stamp-h1
ylwrap
aclocal.m4
autom4te.cache
autoscan.log
compiler/cpp/.deps
config.guess
config.h
config.hin
config.log
config.status
config.sub
configure
configure.scan
depcomp
lib/alterl/build
lib/alterl/ebin
lib/cpp/.deps
lib/cpp/.libs
lib/erl/ebin
lib/py/build

